@CHARSET "UTF-8";

@font-face{
     font-family:'CaviarDreams';
            src:url('../fonts/CaviarDreams.ttf');
    
}
@font-face{
        font-family:'QuicksideBook';
            src:url('../fonts/Quicksand-Regular.otf');
}

@font-face{
        font-family:'QuicksideBook';
            src:url('../fonts/Quicksand-Regular.otf');
}


@font-face{
 
    font-family:'Muli';
    src:url('../fonts/Muli-Light.ttf');
    
}

body
{
    font-family: Arimo,sans-serif;
    background-color: #23BCC1;
        color:white;
    font-weight: 500;
    
    
}

#presentation
{
    width: 400px;
    float: left;
    font-weight: 600;
    padding: 30px;
        background-color: rgba(255,255,255,0.25);
    border-radius: 15px;
}
h2
{
    font-family: Muli;
    font-size: 25px;
    
    
}


form
{
    position: absolute;
    left:40%;
    background-color: rgba(255,255,255,0.25);
   border-radius: 15px;
    padding: 3px 5px 5px 45px;
    width:50%;
}

img
{
    border: none;
}






form input
{
	display:block;
}

.homme
{
display: inline-block;
}

#status
{
font-family: Muli;
}



.mail_list
{
display:inline-block;
}
